.img{
    width: 100%;
    border-radius: 2%;
    transition: width .2s ease-in-out;
}
.img:hover{
    width: 110%;
}
.thumbnail{
    border-radius: 2%;
    box-shadow: 0 2px 5px 0px rgba(0,0,0,.15);
    transition: box-shadow .2s ease-in-out;
}
.thumbnail:hover{
    box-shadow: 0 5px 10px 0px rgba(0,0,0,.30);
}
/* .thumbnail-container-tight{
    padding: 0 20% 0 20%;
} */
.img-main{
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0);
    border-radius: 1%;
    transition: box-shadow .2s ease-in-out;

}
.img-main:hover{
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.3);
}
.img-desc{
    width: 330px;
    /* object-fit: contain; */
}
.spacer{
    width: 60vw;
    border-bottom: 2px solid rgba(0,0,0,.15) ;
    border-radius: 10%;
}
@media only screen and (min-width: 1000px){
    .thumbnail{
        width: 15%;
    }
}
@media only screen and (max-width: 1000px){
    .thumbnail{
        width: 15%;
    }
}
@media only screen and (max-width: 600px){
    .thumbnail{
        width: 20%;
    }
}
