.skill-img-container{
    position: relative;
    width: 35px;
}
#skills-holder{
    position: relative;
    top: 6px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /* width: 100%; */
    max-width: 200px;
    background-color: rgba(240,248,255,.8);
    border-radius: 5px;
    padding-bottom: 5px;
    margin: 5px 0px 5px 0;
    cursor: pointer;

}
.skill-menu-wrapper{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color:rgb(49, 107, 146);
    max-width: 200px;
}
.skill-menu-container{
    cursor: pointer;
    max-width: 300px;
}
.drop-menu-label{
    color: rgba(49, 107, 146, 0.8);
    -webkit-text-stroke-width: .3px;
    background-color: rgba(240,248,255,.8);
    border-radius: 5px;
    margin-top: 5px;
    padding: 0 5px 0 5px;
}
.skill-img{
    /* background-color: rgba(240,248,255,.8); */
    padding: 2px 2px 2px 2px;
    border-radius: 5px;
}